<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.chengxusheji.mapper.QuestionClassMapper"> 
<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象 
mapper.xml以statement为单位管理sql语句  
 -->
	<!-- 添加问题分类记录 -->
	<insert id="addQuestionClass" parameterType="questionClass">
		insert into t_questionClass(className,classDesc) values 
		(#{className},#{classDesc})
	</insert>

	<!-- 按照查询条件分页查询问题分类记录 -->
	<select id="queryQuestionClass" resultMap="questionClassMap" >
		select t_questionClass.* from t_questionClass ${where} limit #{startIndex},#{pageSize}
	</select>
	<resultMap id="questionClassMap" type="questionClass">
        <id property="classId" column="classId" />
    </resultMap>

    <!-- 按照查询条件查询所有问题分类记录 -->
	<select id="queryQuestionClassList" resultMap="questionClassMap" >
		select t_questionClass.* from t_questionClass ${where}
	</select>

    <!-- 按照查询条件的问题分类记录数 -->
	<select id="queryQuestionClassCount" resultType="int">
		select count(*) from t_questionClass ${where}
	</select>

	<!-- 根据主键查询某个问题分类记录 -->
	<select id="getQuestionClass" parameterType="int" resultMap="questionClassMap">
		select * from t_questionClass where t_questionClass.classId = #{classId}
	</select>

	<!-- 更新问题分类记录 -->
	<update id="updateQuestionClass" parameterType="questionClass">
		update t_questionClass set className=#{className},classDesc=#{classDesc} where classId = #{classId}
	</update>

	<!-- 删除问题分类记录 -->
	<delete id="deleteQuestionClass" parameterType="int">
		delete from t_questionClass where classId=#{classId}
	</delete>

</mapper>
